<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Franja Horaria</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/popup.css" th:href="@{/css/popup.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h2 class="negrita">Nueva Franja Horaria</h2>
<form class="form" action="#" th:action="@{/franjahoraria/add}"
      th:object="${franjahoraria}" method="post">
    <table>
        <tr>
            <td><label>Fecha de Inicio </label></td>
            <td><input type="date" th:field="*{fechaInicio}"
                       placeholder="D/M/YY"/></td>
            <td th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="error"></td>


        </tr>
        <tr>
            <td><label>Fecha de Fin</label></td>
            <td><input type="date" th:field="*{fechaFin}"
                       placeholder="D/M/YY"/></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>

        </tr>
        <tr>
            <td><label>Hora de Inicio</label></td>
            <td><input type="time" th:field="*{horaInicio}"
                       placeholder="HH/MM/ss"/></td>
            <td th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{fechaFin}" class="error"></td>
        </tr>
        <tr>
            <td><label>Hora de Fin</label></td>
            <td><input type="time" th:field="*{horaFin}" placeholder="HH/MM/ss"/></td>
            <td th:if="${#fields.hasErrors('horaFin')}" th:errors="*{fechaFin}" class="error"></td>
        </tr>
        <tr>
            <td><label>Identificador del Area</label></td>
            <td>
                <select class="form_control" type="text" th:field="*{nombrearea}">
                    <option th:each="idArea: ${arealista}" th:value="${idArea}" th:text="${idArea}"></option>
                </select>
            </td>
        </tr>
    </table>
    <a href="add"><button type="submit" class="btn btn-success">Añade un Franja Horaria</button></a>
    <a href="/franjahoraria/list"><button type="button" class="btn btn-secondary">Volver</button></a>
    <a href="/"> <button type="button" class="btn btn-outline-secondary">Menu Princpial</button></a></form>
</body>
</html>