<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Periodos</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/popup.css" th:href="@{/css/popup.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body class="center">
<h1 class="negrita">Lista de Franjas horarias</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Hora de Inicio</th>
        <th>Hora de Fin</th>
        <th>Nombre del Area</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="franjaHoraria: ${periodos}">
        <td th:text="${franjaHoraria.getfechaInicio()}"></td>
        <td th:text="${franjaHoraria.getfechaFin()}"></td>
        <td th:text="${franjaHoraria.getHoraInicio()}"></td>
        <td th:text="${franjaHoraria.getHoraFin()}"></td>
        <td th:text="${franjaHoraria.getNombrearea()}"></td>
        <td><a th:href="@{/franjahoraria/update/{identificador}(identificador=${franjaHoraria.getIdentificador()})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/franjahoraria/delete/{identificador}(identificador=${franjaHoraria.getIdentificador()})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Franja Horaria</button></a>
<a href="/user/gestor"><button type="button" class="btn btn-outline-secondary">Menu Princpial</button></a>

</body>
</html>