<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Zona</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Zona</h2>
<form action="#" th:action="@{/zona/add}"
      th:object="${zona}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
        </tr>
        <tr>
            <td><label>Capacidad</label></td>
            <td><input type="number" th:field="*{capacidad}" /></td>
        </tr>
        <tr>
            <td><label>Id Area</label></td>
            <td><input type="text" th:field="*{idArea}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Añade Zona" /></td>
        </tr>
    </table>
</form>
</body>
</html>