<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Zonas</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h1 class="negrita">Lista de Zonas</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Identificador de la Zona</th>
        <th>Capacidad</th>
        <th>Identificador del Area</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zona: ${zonas}">
        <td th:text="${zona.identificador}"></td>
        <td th:text="${zona.capacidad}"></td>
        <td th:text="${zona.idArea}"></td>
        <td><a th:href="@{/zona/update/{identificador}(identificador=${zona.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/zona/delete/{identificador}(identificador=${zona.identificador})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Zona</button></a>
<a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>

</body>
</html>