<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica el Ciudadano</h2>
<form action="#" th:action="@{/ciudadano/update}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" maxlength="9"/></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>NIF</label></td>
            <td><input type="text" th:field="*{nif}" /></td>
            <td th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}" class="error"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" placeholder="...@..."/></td>
        </tr>
        <tr>
            <td><label>Residencia</label></td>
            <td><input type="text" th:field="*{residencia}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Registro</label></td>
            <td><input type="text" th:field="*{fechaRegistro}" placeholder="D/M/YY"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica el Ciudadano" /></td>
        </tr>
    </table>
</form>
</body>
</html>