<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir periodo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"
          th:href="@{/css/estilos.css}"/>
</head>
<body>
<h2>Nuevo Periodo</h2>
<form action="#" th:action="@{/periodo/add}"
      th:object="${periodo}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
            <td th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" class="error"></td>

        </tr>
        <tr>
            <td><label>Fecha de Inicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}"
                       placeholder="D/M/YY"/></td>
            <td th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="error"></td>


        </tr>
        <tr>
            <td><label>Fecha de Fin</label></td>
            <td><input type="text" th:field="*{fechaFin}"
                       placeholder="D/M/YY"/></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>

        </tr>
        <tr>
            <td><label>Hora de Inicio</label></td>
            <td><input type="text" th:field="*{horaInicio}"
                       placeholder="HH/MM/ss"/></td>
        </tr>
        <tr>
            <td><label>Hora de Fin</label></td>
            <td><input type="text" th:field="*{horaFin}"
                       placeholder="HH/MM/ss"/></td>
        </tr>
        <tr>
            <td><label>Identificador del Area: </label></td>
            <td><input type="text" th:field="*{idArea}" /></td>
            <td th:if="${#fields.hasErrors('idArea')}" th:errors="*{idArea}" class="error"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Añade Periodo" /></td>
        </tr>
    </table>
</form>
</body>
</html>