<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edita un periodo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Edita periodo</h2>
<form action="#" th:action="@{/periodo/update}"
      th:object="${periodo}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}"
                       readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha de Inicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Fin</label></td>
            <td><input type="text" th:field="*{fechaFin}"
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>
            /></td>
        </tr>
        <tr>
            <td><label>Hora de Inicio</label></td>
            <td><input type="text" th:field="*{horaInicio}" /></td>
        </tr>
        <tr>
            <td><label>Hora de Fin</label></td>
            <td><input type="text" th:field="*{horaFin}" /></td>
        </tr>
        <tr>
            <td><label>Identificador del Area</label></td>
            <td><input type="text" th:field="*{idArea}" /></td>
        </tr>
    </table>
    <a href="add"><button type="button" class="btn btn-success">Modifica un Periodo</button></a>
    <a href="/periodo/list"><button type="button" class="btn btn-secondary">Volver</button></a>
    <a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>

</form>
</body>
</html>