<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Reserva</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h2 class="negrita">Nueva Reserva</h2>
<form class="form"action="#" th:action="@{/reserva/add}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label class="negrita">Fecha</label></td>
            <td><input type="date" th:field="*{fecha}"
                       placeholder="D/M/YY"/> </td>
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="error"></td>
        </tr>
        <tr>
            <td><label class="negrita">Hora</label></td>
            <td><input type="time" th:field="*{hora}"
            placeholder="HH:mm"/></td>
        </tr>
        <tr>
            <td><label class="negrita">Numero de Personas</label></td>
            <td><input type="number" th:field="*{numeroPersonas}" /></td>
            <td th:if="${#fields.hasErrors('numeroPersonas')}" th:errors="*{numeroPersonas}" class="error"></td>

        </tr>
        <tr>
            <td><label class="negrita">Area</label></td>
            <td>
                <select class="form_control" type="text" th:field="*{area}">
                    <option th:each="nombrearea: ${listaarea}" th:value="${nombrearea}" th:text="${nombrearea}"></option>
                </select>
            </td>
        </tr>
    </table>
    <br><br>
    <a href="add"><button type="submit" class="btn btn-success">Añade una Reserva</button></a><br><br>
    <a th:href="@{/reserva/reservasciudadano/{nif}(nif=${nif})}"><button type="button" class="btn btn-secondary">Volver</button></a>
</form>
</body>
</html>