<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Reserva</h2>
<form action="#" th:action="@{/reserva/add}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>Identificador: </label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
        </tr>
        <tr>
            <td><label>Hora: </label></td>
            <td><input type="text" th:field="*{hora}" /></td>
        </tr>
        <tr>
            <td><label>Fecha: </label></td>
            <td><input type="date" th:field="*{fecha}" /></td>
        </tr>
        <tr>
            <td><label>NumeroPersonas: </label></td>
            <td><input type="number" th:field="*{numeroPersonas}" /></td>
        </tr>
        <tr>
            <td><label>Estado: </label></td>
            <td><input type="text" th:field="*{estado}" /></td>
        </tr>
        <tr>
            <td><label>Zona: </label></td>
            <td><input type="text" th:field="*{zona}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añade Reserva" /></td>
        </tr>
    </table>
</form>
</body>
</html>