<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Reservas</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Identificador</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th>Numero de Personas</th>
        <th>Estado</th>
        <th>Ciudadano</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva: ${reservas}">
        <td th:text="${reserva.identificador}"></td>
        <td th:text="${reserva.hora}"></td>
        <td th:text="${reserva.fecha}"></td>
        <td th:text="${reserva.numeroPersonas}"></td>
        <td th:text="${reserva.estado}"></td>
        <td th:text="${reserva.ciudadano}"></td>
        <td><a th:href="@{/reserva/update/{identificador}(identificador=${reserva.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/reserva/delete/{identificador}(identificador=${reserva.identificador})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade reserva</button></a>
<a href="/"><button type="button" class="btn btn-success">Volver</button></a>
</body>
</html>