<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Reserva</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h2 class="negrita">Modifica la Reserva</h2>
<form class="form" action="#" th:action="@{/reserva/update}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}"
                       readonly = "readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" /></td>
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="error"></td>
        </tr>
        <tr>
            <td><label>Hora</label></td>
            <td><input type="text" th:field="*{hora}" /></td>
        </tr>
        <tr>
            <td><label>Numero de Personas</label></td>
            <td><input type="number" th:field="*{numeroPersonas}" /></td>
            <td th:if="${#fields.hasErrors('numeroPersonas')}" th:errors="*{numeroPersonas}" class="error"></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}">
                <option value="No seleccionado">Selecciona el estado de la reserva</option>
                <option value="usada">Usada</option>
                <option value="cancelada">Cancelada</option>
                <option value="disponible">Disponible</option>
            </select>
            </td>
        </tr>
    </table>
    <br><br>
    <a href="add"><button type="submit" class="btn btn-success">Modifica una Reserva</button></a><br><br>
    <a th:href="@{/reserva/reservasciudadano/{nif}(nif=${nif})}"><button type="button" class="btn btn-secondary">Volver</button></a>
</form>
</body>
</html>