<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica la Reserva</h2>
<form action="#" th:action="@{/reserva/update}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}"
                       readonly = "readonly"/></td>
        </tr>
        <tr>
            <td><label>Hora</label></td>
            <td><input type="text" th:field="*{hora}" readonly = "readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" readonly = "readonly"/></td>
        </tr>
        <tr>
            <td><label>Numero de Personas</label></td>
            <td><input type="number" th:field="*{numeroPersonas}" /></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}">
                <option value="No seleccionado">Selecciona el estado de la reserva</option>
                <option value="usada">Usada</option>
                <option value="cancelada">Cancelada</option>
                <option value="disponible">Disponible</option>
            </select>
            </td>
        </tr>
        <tr>
            <td><label>Ciudadano</label></td>
            <td><input type="text" th:field="*{ciudadano}" readonly="readonly"/></td>
        </tr>
    </table>
    <a href="add"><button type="submit" class="btn btn-success">Modifica una Reserva</button></a>
    <a href="/reserva/list"><button type="button" class="btn btn-secondary">Volver</button></a>
    <a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>
</form>
</body>
</html>