<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:object="user: ${user}">
<head>
    <title>Gestionar Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>CP</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>email</th>
        <th>Telefono</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="municipio: ${municipios}">
        <td th:text="${municipio.cp}"></td>
        <td th:text="${municipio.nombre}"></td>
        <td th:text="${municipio.direccion}"></td>
        <td th:text="${municipio.email}"></td>
        <td th:text="${municipio.telefono}"></td>
        <td><a th:href="@{/municipio/update/{cif}(cif=${municipio.cp})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/municipio/delete/{cif}(cif=${municipio.cp})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade municipio</button></a>
<a href="/"><button type="button" class="btn btn-outline-secondary">Menu Princpial</button></a>

</body>
</html>