<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Controladores</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/popup.css" th:href="@{/css/popup.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h1 class="negrita">Lista de Controladores</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>email</th>
        <th>Telefono</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="controlador: ${controladores}">
        <td th:text="${controlador.identificador}"></td>
        <td th:text="${controlador.nombre}"></td>
        <td th:text="${controlador.direccion}"></td>
        <td th:text="${controlador.email}"></td>
        <td th:text="${controlador.telefono}"></td>
        <td th:text="${controlador.fecha}"></td>
        <td th:text="${controlador.fechaFin}"></td>
        <td><a th:href="@{/controlador/update/{identificador}(identificador=${controlador.identificador})}"><button type="button" class="btn btn-warning">Editar</button></a>
        <td><p><a th:href="@{/controlador/popup/{identificador}(identificador=${controlador.identificador})}"><button type="button" class="btn btn-danger">Borrar</button></a></p>
            <div id="popup" class="overlay">
                <div id="popupBody">
                    <h2>¿Está seguro que desea eliminar este controlador?</h2>
                    <a id="cerrar" href="#">&times;</a>
                    <div class="popupContent">
                        <a href="/controlador/delete"><button type="button" class="btn btn-danger">Aceptar</button></a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade controlador</button></a>
<a href="/user/gestor"> <button type="button" class="btn btn-outline-secondary">Volver</button></a>

</body>
</html>