<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Responsable de Municipio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"
          th:href="@{/css/estilos.css}"/>
</head>
<body>
<h2>Nuevo Responsable de Municipio</h2>
<form action="#" th:action="@{/responsable/add}"
      th:object="${responsable}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="text" th:field="*{numerotelefono}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Inicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}" /></td>
            <td th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="error"></td>

        </tr>
        <tr>
            <td><label>Fecha de Fin</label></td>
            <td><input type="text" th:field="*{fechaFin}" /></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>
        </tr>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
            <td th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" class="error"></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td>
                <!--<input type="text" th:field="*{municipio}" maxlength="10" /> -->
                <select class="form_control" type="text" th:field="*{municipio}">
                    <option th:each="cp: ${municipioslista}" th:value="${cp}" th:text="${cp}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}" class="error"></td>
        </tr>
    </table>
    <a href="add"><button type="submit" class="btn btn-success">Añade un Responsable de Municipio</button></a>
    <a href="/responsable/list"><button type="button" class="btn btn-secondary">Volver</button></a>
    <a href="/"> <button type="button" class="btn btn-outline-secondary">Menu Princpial</button></a></form>
</form>
</body>
</html>