<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Responsables de Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Responsables de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Identificador</th>
        <th>Municipio</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="responsable: ${responsables}">
        <td th:text="${responsable.nombre}"></td>
        <td th:text="${responsable.email}"></td>
        <td th:text="${responsable.numerotelefono}"></td>
        <td th:text="${responsable.getfechaInicio()}"></td>
        <td th:text="${responsable.getfechaFin()}"></td>
        <td th:text="${responsable.identificador}"></td>
        <td th:text="${responsable.municipio}"></td>
        <td><a th:href="@{/responsable/update/{identificador}(identificador=${responsable.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/responsable/delete/{identificador}(identificador=${responsable.identificador})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Responsable de Municipio</button></a>
<a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>

</body>
</html>