<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Gestores Municipales</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/popup.css" th:href="@{/css/popup.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>
<h1>Lista de Reservas</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Identificador</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th>Numero de Personas</th>
        <th>Estado</th>
        <th>Identificador de la Zonas</th>
        <th>Ciudadano</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva: ${reservasmunicipioo}">
        <td th:text="${reserva.identificador}"></td>
        <td th:text="${reserva.hora}"></td>
        <td th:text="${reserva.fecha}"></td>
        <td th:text="${reserva.numeroPersonas}"></td>
        <td th:text="${reserva.estado}"></td>
        <td th:text="${reserva.getListreserva()}"></td>
        <td th:text="${reserva.ciudadano}"></td>
        <td><a th:href="@{/reserva/update2/{identificador}(identificador=${reserva.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>
</body>
</html>