<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Responsable de Municipio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica el Responsable de Municipio</h2>
<form action="#" th:action="@{/responsable/update}"
      th:object="${responsable}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="text" th:field="*{numerotelefono}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Inicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Fin</label></td>
            <td><input type="text" th:field="*{fechaFin}" /></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>
        </tr>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td><input type="text" th:field="*{municipio}" maxlength="10" /></td>
            <td th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}" class="error"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica el Responsable del Municipio" /></td>
        </tr>
    </table>
</form>
</body>
</html>