<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SANA - RESPONSABLE DE MUNICIPIO</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
</head>
<body class="center">
<main class="main">
    <h3> Bienvenido RESPONSABLE DE MUNICIPIO </h3>
    <br><br>
    <a href="area/list"><button class="btn btn-primary butt" type="submit">Gestión de Areas</button></a>
    <br><br>
    <a href="controlador/list"><button class="btn btn-primary butt" type="submit">Gestión de Controladores</button></a>
    <br><br>
    <a href="periodoAsignado/list"><button class="btn btn-primary butt" type="submit">Gestión de Periodos Asignados</button></a>
    <br><br>
    <a href="servicio/list"><button class="btn btn-primary butt" type="submit">Gestión de Servicios Permanentes</button></a>
    <br><br>
    <a href="serviciotemporal/list"><button class="btn btn-primary butt" type="submit">Gestión de Servicios Temporales</button></a>
    <br><br>
    <a href="zona/list"><button class="btn btn-primary butt" type="submit">Gestión de Zonas</button></a>
</main>
</body>
</html>