<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>SANA</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
  <link rel="stylesheet" type="text/css" href="/css/animado.css" th:href="@{/css/animadoºcss}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body class="center" background="/images/fondo.png" background-size="cover">
<main>
  <h2>¿Con que rol quieres acceder?</h2>
  <br>
  <a href="user/ciudadano"><button class="btn btn-primary butto btn-lg" type="submit">Ciudadano</button></a>
  <br>
  <a href="gestor.html"><button class="btn btn-primary butto btn-lg" type="submit">Responsable de Municipio</button></a>
  <br>
  <a href="medioAmbiente.html"><button class="btn btn-primary butto btn-lg" type="submit">Responsable de Medio Ambiente</button></a>
</main>
</body>
</html>