<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SANA- Reservas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body class="center">
<h4>
    <div th:replace="fragments/logininfo" >...</div>
</h4>

<h2> RESERVAS </h2>

<a href="reserva/add"><button class="btn btn-primary">Realizar una reserva</button></a>



</body>
</html>