<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Tipos de Servicios</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h1 class="negrita">Lista de Tipos de Servicios</h1>
<table class="table">
    <thead class="thead-dark">

    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tipo: ${tiposServicio}">
        <td th:text="${tipo.nombre}"></td>
        <td><a th:href="@{/tipoServicio/delete/{nom}(nom=${tipo.nombre})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Tipo</button></a>
<a href="/user/medioAmbiente"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>
</body>
</html>