<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SANA - Usuario</title>
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body class="center">
<h6>
<div class="user" th:replace="fragments/logininfo" >...</div>
</h6>

<h2>¿Qué desea hacer?</h2>
<br>

    <a th:href="@{/reserva/reservasciudadano/{nif}(nif=${user.nif})}"><button class="btn btn-primary butto btn-lg">Reservas</button></a>

<br>
<br>
<a href="/area/list"><button class="btn btn-primary butto btn-lg">Consultar Areas</button></a>
<br>
<br>

</body>
</html>