<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SANA - Gestor Municipal</title>
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body class="center">
<div class="user" th:replace="fragments/loginGestorInfo" >...</div>

<main class="main">
    <h3 class="negrita"> Bienvenido Gestor Municipal </h3>
    <br><br>
    <a href="/area/list"><button class="btn btn-primary butt" type="submit">Gestión de Areas</button></a>
    <br><br>
    <a href="/controlador/list"><button class="btn btn-primary butt" type="submit">Gestión de Controladores</button></a>
    <br><br>
    <a href="/periodoAsignado/list"><button class="btn btn-primary butt" type="submit">Gestión de Periodos Asignados</button></a>
    <br><br>
    <a href="/servicio/list"><button class="btn btn-primary butt" type="submit">Gestión de Servicios Permanentes</button></a>
    <br><br>
    <a href="/serviciotemporal/list"><button class="btn btn-primary butt" type="submit">Gestión de Servicios Temporales</button></a>
    <br><br>
    <a href="/zona/list"><button class="btn btn-primary butt" type="submit">Gestión de Zonas</button></a>
    <br><br>
    <a href="/franjahoraria/list"><button class="btn btn-primary butt" type="submit">Gestión de Franjas Horarias</button></a>
    <br><br>
    <a href="/reserva/reservasGestorMunicipal"><button class="btn btn-primary butt" type="submit">Gestión de FUTURAS Reservas de mi municipio</button></a>
    <br><br>
    <a href="/reserva/reservasGestorMunicipal2"><button class="btn btn-primary butt" type="submit">Gestión de TODAS las Reservas de mi municipio</button></a>
</main>
</body>
</html>