<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear Periodo Asignado</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Periodo Asignado</h2>
<form action="#" th:action="@{/periodoAsignado/add}"
      th:object="${periodoAsignado}" method="post">
  <table>
    <tr>
      <td><label>Identificador</label></td>
      <td><input type="text" th:field="*{identificador}" /></td>
      <td th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></td>
    </tr>
    <tr>
      <td><label>Fecha de Inicio</label></td>
      <td><input type="text" th:field="*{fechaInicio}"
                 placeholder="D/M/YY"/></td>
    </tr>
    <tr>
      <td><label>Fecha de Fin</label></td>
      <td><input type="text" th:field="*{fechaFin}"
                 placeholder="D/M/YY"/></td>
      <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></td>

    </tr>
    <tr>
      <td><label>Código del Controlador</label></td>
      <td><input type="text" th:field="*{controlador}" /></td>
      <td th:if="${#fields.hasErrors('controlador')}" th:errors="*{controlador}"></td>
    </tr>
    <tr>
      <td><label>Código del Area</label></td>
      <td><input type="text" th:field="*{area}" /></td>
      <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Añade Periodo Asignado" /></td>
    </tr>
  </table>
</form>
</body>
</html>