<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Periodos Asignados</title>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/images/LogoSana.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h1 class="negrita">Lista de Periodos Asignados</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Identificador</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de Fin</th>
    <th>Código del Controlador</th>
    <th>Código del Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="periodoAsignado: ${periodosAsignados}">
    <td th:text="${periodoAsignado.identificador}"></td>
    <td th:text="${periodoAsignado.fechaInicio}"></td>
    <td th:text="${periodoAsignado.fechaFin}"></td>
    <td th:text="${periodoAsignado.controlador}"></td>
    <td th:text="${periodoAsignado.area}"></td>
    <td><a th:href="@{/periodoAsignado/update/{identificador}(identificador=${periodoAsignado.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
    </td>
    <td><a th:href="@{/periodoAsignado/delete/{identificador}(identificador=${periodoAsignado.identificador})}"><button type="button" class="btn btn-danger">Borra</button></a>
    </td>
    <td><a th:href="@{/periodoAsignado/reservassuarea/{identificador}(identificador=${periodoAsignado.area})}"><button type="button" class="btn btn-warning">Ver reservas de esa area</button></a>
    </td>
  </tr>
  </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Periodo Asignado</button></a>
<a href="../gestor.html"><button type="button" class="btn btn-outline-secondary">Volver</button></a>

</body>
</html>