<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Servicio</h2>
<form action="#" th:action="@{/servicio/add}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>Nombre: </label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Descripción: </label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>Estado: </label></td>
            <td><input type="text" th:field="*{estado}" /></td>
        </tr>
        <tr>
            <td><label>Nombre del Area: </label></td>
            <td><input type="text" th:field="*{nombreArea}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Añade Servicio" /></td>
        </tr>
    </table>
</form>
</body>
</html>