<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica el Servicio</h2>
<form action="#" th:action="@{/servicio/update}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}"readonly="readonly" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><input type="text" th:field="*{estado}" /></td>
        </tr>
        <tr>
            <td><label>Identificador del Area</label></td>
            <!--<td><input type="text" th:field="*{area}" /></td> -->
            <td>
                <select class="form_control" type="text" th:field="*{area}">
                    <option th:each="idArea: ${arealista}" th:value="${idArea}" th:text="${idArea}"></option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="error"></td>
        </tr>
        <tr>
            <td><label>Tipo de servicio</label></td>
            <!--<td><input type="text" th:field="*{area}" /></td> -->
            <td>
                <select class="form_control" type="text" th:field="*{tipoServicio}">
                    <option th:each="idArea: ${tipoServicio}" th:value="${idArea}" th:text="${idArea}"></option>
                </select>
            </td>
        </tr>
    </table>
    <a href="add"><button type="submit" class="btn btn-success">Modifica el Servicio</button></a>
    <a href="/servicio/list"><button type="button" class="btn btn-secondary">Volver</button></a>
    <a href="/"><button type="button" class="btn btn-outline-secondary">Menu Principal</button></a>
</form>
</body>
</html>