<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Reserva en una zona</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h2 class="negrita">Nueva Reserva de una zona</h2>
<form class="form" action="#" th:action="@{/reservazona/add}"
      th:object="${reservazona}" method="post">
    <table>
        <tr>
            <td><label class="negrita">Reserva</label></td>
            <td><input type="text" th:field="*{reserva}" readonly="readonly"/></td>
            <!--<td th:if="${#fields.hasErrors('reserva')}" th:errors="*{reserva}" class="error"></td>-->
        </tr>
        <tr>
            <td><label class="negrita">Identificador de la Zona</label></td>
            <td>
                <select class="form_control" type="text" th:field="*{zona}" multiple>
                    <option th:each="idZona: ${zonalista}" th:value="${idZona}" th:text="${idZona}"></option>
                </select>
            </td>
        </tr>
    </table>
    <a>Para seleccionar varias shift y seleccionas todas las que quieras</a>
    <br>
    <a href="add"><button type="submit" class="btn btn-success">Añade una Reserva en una Zona</button></a>
</form>
</body>
</html>