<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Responsables de Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Responsables de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Identificador</th>
        <th>Municipio</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="responsablemunicipio: ${responsables}">
        <td th:text="${responsablemunicipio.nombre}"></td>
        <td th:text="${responsablemunicipio.email}"></td>
        <td th:text="${responsablemunicipio.numeroTelefono}"></td>
        <td th:text="${responsablemunicipio.fechaInicio}"></td>
        <td th:text="${responsablemunicipio.fechaFin}"></td>
        <td th:text="${responsablemunicipio.identificador}"></td>
        <td th:text="${responsablemunicipio.municipio}"></td>
        <td><a th:href="@{/responsablemunicipio/update/{identificador}(identificador=${responsablemunicipio.identificador})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/responsablemunicipio/delete/{identificador}(identificador=${responsablemunicipio.identificador})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Responsable de Municipio</button></a>
</body>
</html>