<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SANA - Gestionar Areas</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/LogoSana.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" th:href="@{/css/estilos.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/popup.css" th:href="@{/css/popup.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body class="center">
<h1 class="negrita">Lista de Areas</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>idArea</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Caracteristicas</th>
        <th>Localizacion</th>
        <th>Tipo de Acceso</th>
        <th>Municipio</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="area: ${areas}">
        <td th:text="${area.idArea}"></td>
        <td th:text="${area.nombre}"></td>
        <td th:text="${area.descripcion}"></td>
        <td th:text="${area.getCaracteristicas()}"></td>
        <td th:text="${area.localizacion}"></td>
        <td th:text="${area.tipoAcceso}"></td>
        <td th:text="${area.municipio}"></td>
        <td><a th:href="@{/area/update/{idArea}(idArea=${area.idArea})}"><button type="button" class="btn btn-warning">Edita</button></a>
        <td><p><a th:href="@{/area/popup/{idArea}(idArea=${area.idArea})}"><button type="button" class="btn btn-danger">Borrar</button></a></p>
            <div id="popup" class="overlay">
                <div id="popupBody">
                    <h2>¿Está seguro que desea Eliminar esta área?</h2>
                    <a id="cerrar" href="#">&times;</a>
                    <div class="popupContent">
                        <a href="/area/delete"><button type="button" class="btn btn-danger">Aceptar</button></a>
                    </div>
                </div>
            </div>
        </td>
        <td><a th:href="@{/area/zonasarea/{idArea}(idArea=${area.idArea})}"><button type="button" class="btn btn-warning">Ver zonas de area</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Area</button></a>
<a href="/user/gestor"><button type="button" class="btn btn-outline-secondary">Volver</button></a>

</body>
</html>