<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Areas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Areas</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>idArea</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Caracteristicas</th>
        <th>Localizacion</th>
        <th>Tipo de Acceso</th>
        <th>Municipio</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="area: ${areas}">
        <td th:text="${area.idArea}"></td>
        <td th:text="${area.nombre}"></td>
        <td th:text="${area.descripcion}"></td>
        <td th:text="${area.caracteristicas.name()}"></td>
        <td th:text="${area.localizacion}"></td>
        <td th:text="${area.tipoAcceso.name()}"></td>
        <td th:text="${area.municipio}"></td>
        <td><a th:href="@{/area/update/{idArea}(idArea=${area.idArea})}"><button type="button" class="btn btn-warning">Edita</button></a>
        </td>
        <td><a th:href="@{/area/delete/{idArea}(idArea=${area.idArea})}"><button type="button" class="btn btn-danger">Borra</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Añade Area</button></a>

</body>
</html>