<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Responsable Medio Ambiente - Iniciar Sesion</title>
  <link rel="icon" type="image/png" href="/images/LogoSana.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="static/images/lock.png" th:src="@{/images/lock.png}"/>
      </div>
      <form class="col-12" th:action="@{/loginResponsableMedioAmbiente}" th:object="${user}" method="post">
        <div class="form-group" id="user-group">
          <input type="text" class="form-control" placeholder="Usuario" name="usuario"/>

        </div>
        <div class="form-group" id="contrasena-group">
          <input type="password" class="form-control" placeholder="Contraseña" name="password"/>
          <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>

        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Iniciar Sesion </button>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>